body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 24px;
}

.bg-sinia{
    background-color: #75b72a!important;
}

.starter-template {
    padding: 3rem 9rem;
    text-align: justify; 
    word-spacing: -2px
}

.starter-card {
    padding: 3rem 9rem;
    
}
 