body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 24px;
}

.barra-menu{
    border-right: 1px solid #ffffff;
    float: left; 
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
}

.input-zoom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: .25rem;
}

.navbar-nav {
    font-size: 18px;
}

.navbar-nav li:last-child {
    border-right:none;
}

.bg-sinia{
    background-color: #75b72a!important;
}
.bg-temas{
    background-color: #b2c905!important;
}
.bg-estad{
    background-color: #0071bc!important;
}
.bg-norma{
    background-color: #3b9fcc!important;
}
.bg-publi{
    background-color: #29abe2!important;
}
.bg-mapas{
    background-color: #00a99d!important;
}

.bg-footer-carousel{
    background-color: #eef1f4!important;   
}

.bg-footer-contact{
    background-color: #3c4145!important;   
}
 

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.items-god{
    display: flex;
  justify-content: center;
  align-items: center;
}
.items-center{
    width: auto;
}


.starter-template {
    padding-top: 3rem;
    padding-right: 9rem;    
    padding-left: 9rem;
    text-align: justify; 
    word-spacing: -2px
}

.title-h2{
    text-align: center;
}

.starter-card {
    padding-right: 9rem;    
    padding-left: 9rem;    
}

.starter-info{  
    padding-right: 5rem;    
    padding-left: 5rem;  
    margin-top: 2rem;
}

.rounded-mod{
    border-radius: .80rem!important;
}

.starter-footer{
    padding-right: 1rem;    
    padding-left: 1rem;   
}

.text-size-footer{
    font-size: 14px;
}
