body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 24px;
}

.barra-menu {
    border-right: 1px solid #ffffff;
    float: left;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
}

.input-zoom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: .25rem;
}

.navbar-nav {
    font-size: 18px;
}

.navbar-nav li:last-child {
    border-right: none;
}

.bg-sinia {
    background-color: #75b72a!important;
}

.bg-temas {
    background-color: #b2c905!important;
}

.bg-estad {
    background-color: #0071bc!important;
}

.bg-norma {
    background-color: #3b9fcc!important;
}

.bg-publi {
    background-color: #29abe2!important;
}

.bg-mapas {
    background-color: #00a99d!important;
}

.bg-footer-carousel {
    background-color: #eef1f4!important;
}

.bg-footer-contact {
    background-color: #3c4145!important;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-hover:hover{
    background-color: #a8a8a8;
    opacity: 0.5;
}

.items-god {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-center {
    width: auto;
}

.starter-template {
    padding-top: 3rem;
    padding-right: 9rem;
    padding-left: 9rem;
    text-align: justify;
    word-spacing: -2px
}

.title-h2 {
    text-align: center;
}

.starter-card {
    padding-right: 9rem;
    padding-left: 9rem;
}

.starter-info {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top: 2rem;
}

.rounded-mod {
    border-radius: .80rem!important;
}

.starter-footer {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.text-size-footer {
    font-size: 14px;
}

/***/

#map {
    height: 100%;
}

.text-list {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
}

.list-group-itemx.active {
    z-index: 2;
    color: #fff;
    background-color: #75b72a;
    border-color: #75b72a;
} 
.list-group-itemx:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-itemx {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
  .list-group-item-actionx {
    width: 100%;
    color: #495057;
    text-align: inherit;
}
 
/***/

@media(min-width:768px) and (max-width:991px) {
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible
    }
}

@media(min-width:576px) and (max-width:768px) {
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible
    }
}

@media(min-width:576px) {
    .carousel-item {
        margin-right: 0
    }
    .carousel-inner .active+.carousel-item {
        display: block
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0)
    }
    .active.carousel-item-left+.carousel-item-next.carousel-item-left, .carousel-item-next.carousel-item-left+.carousel-item, .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible
    }
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right, .carousel-item-prev.carousel-item-right+.carousel-item, .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible
    }
}

@media(min-width:768px) {
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0)
    }
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible
    }
}

@media(min-width:991px) {
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none
    }
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible
    }
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible
    }
}

@media(min-width:991px) {}